*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.btn{
  background: none;
  padding:0.7rem 2.6rem;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.btn-outline{
  border: white 2px solid;
}

.btn-red{
  background-color: #CE0505;
}

.lg{
  padding: 0.7rem 3rem;
}



.hero-section{
  background: url('./assets/shutterstock_348320018.png');
  height: 60vh;
  background-size: cover;
  
  background-repeat: no-repeat;
}

.buttons{
  
  display: flex;
  justify-content: end;
  padding: 1rem 5rem;
}



.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-content h1{
  color: white;
  font-size: 2.5rem;
  letter-spacing: 5px;
  
}

.hero-input input:nth-child(1){
  padding: 1rem 4rem;
  margin: 3rem 1rem;
  border: none;
}
.hero-input input:nth-child(2){
  padding: 1rem 8rem;
  margin: 3rem 1rem;
  border: none;
}


.card{
  display: flex;
  max-width: 500px;
  height: 200px;
  
}
.card-content{
  padding: 1rem 1rem;
}

.card-container{
  display: flex;
}